2022-practical-exam/server/target
2022-practical-exam/server/.mvn
2022-practical-exam/server/mvnw
2022-practical-exam/server/mvnw.cmd
2022-practical-exam/server/.idea

2022-practical-exam/client/target
2022-practical-exam/client/.mvn
2022-practical-exam/client/mvnw
2022-practical-exam/client/mvnw.cmd
2022-practical-exam/client/.idea

Auth_Boilerplate/target
Auth_Boilerplate/.mvn
Auth_Boilerplate/mvnw
Auth_Boilerplate/mvnw.cmd
Auth_Boilerplate/.idea
